 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm technologist and maker with a passion for curiosity and learning. I'm a versatile problem solver who blends a background in electronics and software development with industry experience in product R&amp;D and industrial automation.</p>
                </div>
                <div class="col-lg-4">
                    <p>In my current role, I develop resilient and precise software systems for industrial manufacturing orgranizations which range from machine control and quality testing to business process automation and reporting tools.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#resume" class="btn btn-lg btn-outline">
                        <i class="fa fa-download" data-toggle="modal"></i> My Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
