 <!-- Resume Modal -->
    <div class="portfolio-modal modal fade" id="myResume" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Resume</h2>
                            <hr class="star-primary">
                            <p>This is a place holder for my resume file</p>
                            <embed src="docs/EWright_resume.pdf" type="application/pdf" width="100%" height="600px" />
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>